.loginpage{
    min-height: 100vh;
    background-color: rgb(236, 231, 231);
    opacity: 0.8;
   
}
.loginDetails, .signupDetails{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: auto;
    transform: translateY(20%);
    align-items: center;
    border: 1px solid gray;
    padding: 5rem 0 5rem 0;
    background-color: white
}
.signupDetails{
    transform: translateY(5%);
    
}
.heading{
margin-bottom: 2rem;

}
.input{
    width: 60%;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
    margin: 1.5rem ;
    color: black;
    font-size: 18px;
    background-color: transparent;
    
   
}
.input:focus{
    outline: none;
    transition: background-color 0.2s ease-in-out;
}
.loginbtn{
    width: 10rem;
    height: 30px;
    margin-bottom: 1rem;;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .loginDetails, .signupDetails{
        width: 70%;    
    }
}
@media screen and (max-width: 768px){
    .loginDetails{
        width: 90%;
        transform: translateY(20%);
    }
}